<div class="row">
    <div class="col-xs-4">
        <figure class="py-3 px-5">
            <img src="https://via.placeholder.com/200x200"  class="rounded-circle" alt="profile" *ngIf="profileImage === null">
            <img [src]="profileImage" height="200" width="200" class="rounded-circle" alt="profile" *ngIf="profileImage !== null">
        </figure>
    </div>
    <div class="col-xs-8">
        <form [formGroup]="editForm" (ngSubmit)="onSubmit($event)" class="row">
            <div class="col-xs-8">
                <div class="form-group">
                    <label for="userName">UserName</label>
                    <input type="text" name="userName" class="form-control" [value]="loggedInUser.sub" readonly>
                </div>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" name="firstName" class="form-control" formControlName="firstName">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" class="form-control" formControlName="lastName">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control" formControlName="email">
                </div>
                <div class="form-group">
                    <label for="formFile" class="form-label">Upload Your Profile Photo</label>
                    <input class="form-control" type="file" id="formFile">
                  </div>
                <div class="row">
                    <div class="col-xs-12 btn-group px-5">
                        <button type="submit" class="btn btn-success" [disabled]="editForm.invalid">Update</button>
                        <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>