<div class="row chat-wrapper mb-0">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row position-relative">

          <!-- Left column start -->
          <div class="col-lg-4 chat-aside border-lg-right">
            <app-chat-sidebar [friends]="friends"></app-chat-sidebar>
          </div>
          <!-- left column end -->

          <!-- right column start -->
          <!-- contains selected user's chat content -->
          <div class="col-lg-8 chat-content">
            <!-- relative -->
            <app-chat-content [selectedFriend]="selectedFriend" class="position-relative"></app-chat-content>

          </div>
          <!-- right column end -->
        </div>
      </div>
    </div>
  </div>
