<div class="chat-body" [perfectScrollbar] #scrollbar style="position: 'relative';  min-height: calc(105vh - 385px);">
  <ul class="messages">

    <!-- message of sender -->
    <div *ngFor="let message of messages">
      <div *ngIf="message.senderUserName === loggedInUser.sub">
        <li class="message-item me">
          <img [src]="loggedInUser.imageUrl" class="img-xs rounded-circle" alt="avatar">
          <div class="content">
            <div class="message">
              <div class="bubble" style="overflow-wrap: anywhere">

                <p class="text-muted" *ngIf="message.repliedToMsg">
                  {{message.repliedToMsg}}<br>
                </p>

                <p class="d-flex justify-content-end" *ngIf="message.messageType == 1 ">
                  {{message.message}}
                </p>

                <div *ngIf="message.messageType == 2">
                  <audio controls>
                    <source [src]="message.message">
                  </audio>
                </div>

                <div *ngIf="message.messageType == 3">
                  <img [src]="message.message" alt="image not found" height="320px" width="480px">
                </div>

                <div *ngIf="message.messageType == 4">
                  <video height="320" width="480" controls>
                    <source [src]="message.message" type="video/mp4">
                    your browser doesnot support videos
                  </video>
                </div>
              </div>
              <span *ngIf=" today - message.createdAt.getDate() === 0 ">{{message.createdAt | date : "shortTime"}}</span>
              <span *ngIf=" today - message.createdAt.getDate() === 1 ">Yesterday</span>
              <span *ngIf=" today - message.createdAt.getDate() !== 0 && today - message.createdAt.getDate() !== 1">{{message.createdAt | date : "mediumDate"}}</span>
            </div>
          </div>
        </li>
      </div>

      <!-- message of reciever -->
      <div *ngIf="message.senderUserName !== loggedInUser.sub">
        <li class="message-item friend">
          <img [src]="selectedFriend.imageUrl" class="img-xs rounded-circle" alt="avatar">
          <div class="content">
            <div class="message">
              <div class="bubble" style="overflow-wrap: anywhere">

                <p class="text-muted" *ngIf="message.repliedToMsg">
                  {{message.repliedToMsg}}<br>
                </p>

                <p *ngIf="message.messageType == 1 ">
                  {{message.message}}
                </p>

                <div *ngIf="message.messageType == 2">
                  <audio controls>
                    <source [src]="message.message">
                  </audio>
                </div>

                <div *ngIf="message.messageType == 3">
                  <img [src]="message.message" alt="image not found" height="320px" width="480px">
                </div>

                <div *ngIf="message.messageType == 4">
                  <video height="320" width="480" controls>
                    <source [src]="message.message">
                    your browser doesnot support videos
                  </video>
                </div>
              </div>
              <span *ngIf=" today - message.createdAt.getDate() === 0 ">
                {{message.createdAt | date : "shortTime"}}
                <button style=" background-color: rgba(255, 255, 255, 0); border: 0px solid rgba(0, 0, 0, 0)"
                class="reply" (click)="replyToThisMessage(message)">
                  <i class="pi pi-reply reply" style="font-size: 0.8rem;"></i>
                </button>
              </span>
              <span *ngIf=" today - message.createdAt.getDate() === 1 ">
                Yesterday
                <button style=" background-color: rgba(255, 255, 255, 0); border: 0px solid rgba(0, 0, 0, 0)"
                class="reply" (click)="replyToThisMessage(message)">
                  <i class="pi pi-reply reply" style="font-size: 0.8rem;"></i>
                </button>
              </span>
              <span *ngIf=" today - message.createdAt.getDate() !== 0 && today - message.createdAt.getDate() !== 1">
                {{message.createdAt | date : "mediumDate"}}
                <button style=" background-color: rgba(255, 255, 255, 0); border: 0px solid rgba(0, 0, 0, 0)"
                class="reply" (click)="replyToThisMessage(message)">
                  <i class="pi pi-reply reply" style="font-size: 0.8rem;"></i>
                </button>
              </span>

            </div>
          </div>
        </li>
      </div>

    </div>

  </ul>

</div>




<!--
<span *ngIf="today.getDate() - message.createdAt.getDate() === 0">{{message.createdAt | date : "shortTime"}}</span>
<span *ngIf="today.getDate() - message.createdAt.getDate() === 1">Yesterday</span>
<span *ngIf="today.getDate() - message.createdAt.getDate() !== 0 && today.getDate() - message.createdAt.getDate() !== 1">{{message.createdAt | date : "mediumDate"}}</span> -->


<!-- check below code for reference -->



<!-- repeatative component of message sent by selected user for chat start-->

      <!-- <li class="message-item friend"> -->

        <!-- selected user image -->
        <!-- <img src="https://via.placeholder.com/37x37" class="img-xs rounded-circle" alt="avatar">

        <div class="content">
          <div class="message">
            <div class="bubble">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, recusandae nam? Blanditiis quas, fugiat
                velit veritatis, natus id recusandae ad sequi facere, voluptatem mollitia ipsa consectetur deleniti
                deserunt! Dolorem perspiciatis dolorum porro necessitatibus quasi. Eligendi ea ipsam fugit debitis modi
                unde perferendis sit quae, dolorum laudantium iusto eveniet impedit. Nostrum!
              </p>
            </div>
            <span>8:12 PM</span>
          </div>
        </div> -->
      <!-- </li> -->

    <!-- repeatative component end -->

    <!-- repeatative component of message sent by us to selected user for chat start -->

      <!-- <li class="message-item me">
        <img src="https://via.placeholder.com/37x37" class="img-xs rounded-circle" alt="avatar">
        <div class="content">
          <div class="message">
            <div class="bubble">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing and typesetting
                industry.</p>
            </div>
          </div>
          <div class="message">
            <div class="bubble">
              <p>Lorem Ipsum.</p>
            </div>
            <span>8:13 PM</span>
          </div>
        </div>
      </li> -->

    <!-- repeatative component end -->
