<div class="row chat-wrapper mb-0">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row position-relative">
          <div class="col-lg-4 chat-aside border-lg-right" style="max-height: calc(124vh - 385px); min-height: calc(124vh - 385px);">
            <app-groups-sidebar [groups]="groups"></app-groups-sidebar>
          </div>
          <!-- contains selected group's chat content -->
          <div class="col-lg-8 chat-content">
              <app-group-content [selectedGroup]="selectedGroup" [joinedUsers]="joinedUsers"></app-group-content>
          </div>
        </div>
      </div>
    </div>
  </div>
