<!-- <p>chat-base-header works!</p> -->


<div class="chat-header border-bottom pb-2">
  <div class="d-flex justify-content-between">
    <div class="d-flex align-items-center">
      <!-- this icon is for mobile or tablet view-->
      <i (click)="backToChatList()" class="feather icon-corner-up-left icon-md mr-2 ml-n2 text-muted d-lg-none"></i>

      <figure class="mb-0 mr-2">
        <!-- selected user image -->
        <img [src]="selectedFriend.imageUrl" class="img-sm rounded-circle" alt="image">
        <!-- selected user status -->
        <div class="status online"></div>
      </figure>
      <div>
        <!-- selected user name -->
        <p>{{selectedFriend.firstName}} {{selectedFriend.lastName}} </p>
        <!-- selected user designation -->
        <p class="text-muted tx-13">{{selectedFriend.designation.designation}}</p>
      </div>
    </div>
    <div class="d-flex align-items-center mr-n1">
      <i [class]="selectedFriend.status.tagClasses" [style]="selectedFriend.status.tagStyle"></i><span class="mr-3">{{selectedFriend.status.type}}</span>
    </div>
  </div>
</div>
