<div class="row chat-wrapper">
    <div class="col-md-12">
      <div class="card fullScreen">
        <div class="card-body">
          <div class="row position-relative" style="height: 100%;">
            <div class="col-lg-3 chat-aside border-lg-right">
              <div class="aside-content">
                <app-group-sidebar></app-group-sidebar>
            </div>
          </div>
          <app-group-message class="col-lg-9"></app-group-message>
        </div>
      </div>
    </div>
  </div>
  