<div *ngIf="userToChatLoadingFlag">
  
  <div class="chat-header border-bottom pb-2">
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <!-- <i (click)="backToChatList()" class="feather icon-corner-up-left icon-md mr-2 ml-n2 text-muted d-lg-none"></i> -->
        <figure class="mb-0 mr-2">
          <img [src]="makeProfileUrl(userToChatObj.profileUrl)" class="img-sm rounded-circle" alt="image">
          <div class="status online"></div>
          <div class="status online"></div>
        </figure>
        <div>
          <p>{{ userToChatObj.userName }} ( {{userToChatObj.firstName}} {{userToChatObj.lastName}} ) </p>
          <p class="text-muted tx-13">Status text</p>
        </div>
      </div>
      
    </div>
  </div>
  <div class="chat-body" [perfectScrollbar]>
    <ul class="messages">
      <li *ngFor="let msg of chatList" class="message-item friend" [ngClass]="{'friend': msg.messageFrom == 6, 'me': msg.messageFrom == 1 }">
        <img *ngIf="msg.messageFrom == 6" [src]="makeProfileUrl(userToChatObj.profileUrl)" class="img-xs rounded-circle" alt="avatar">
        <img *ngIf="msg.messageFrom == 1" [src]="userObj.profileUrl" class="img-xs rounded-circle" alt="avatar">
        <div class="content">
          <div class="message">
            <div class="bubble">
              <p>{{ msg.content }}</p>
            </div>
            <span> {{ msg.createdAt | date: 'h:mm a' }}</span>
          </div>
        </div>
      </li>
      <!-- <li class="message-item me">
        <img [src]=userObj.profileUrl class="img-xs rounded-circle" alt="avatar">
        <div class="content">
          <div class="message">
            <div class="bubble">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing and typesetting
                industry.</p>
            </div>
          </div>
          <div class="message">
            <div class="bubble">
              <p>Lorem Ipsum.</p>
            </div>
            <span>8:13 PM</span>
          </div>
        </div>
      </li> -->




    </ul>
  </div>
</div>

<div class="chat-footer d-flex">
  <form class="search-form flex-grow mr-2">
    <div class="input-group">
      <input type="text" class="form-control rounded-pill" id="chatForm" placeholder="Type a message">
    </div>
  </form>
  <div>
    <button type="button" class="btn btn-primary btn-icon rounded-circle">
      <i class="feather icon-send"></i>
    </button>
  </div>
</div>