<div *ngIf="userToChatLoadingFlag">
  
  <div class="chat-header border-bottom pb-2">
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <!-- <i (click)="backToChatList()" class="feather icon-corner-up-left icon-md mr-2 ml-n2 text-muted d-lg-none"></i> -->
        <figure class="mb-0 mr-2">
          <img [src]="makeProfileUrl(userToChatObj.profileUrl)" class="img-sm rounded-circle" alt="image">
          <div class="status online"></div>
          <div class="status online"></div>
        </figure>
        <div>
          <p>{{ userToChatObj.userName }} ( {{userToChatObj.firstName}} {{userToChatObj.lastName}} ) </p>
          <p class="text-muted tx-13">Status text</p>
        </div>
      </div>
      <div>
        <button class="btn" (click)="getDirectChatWithUser(this.userToChatObj.userName)">
          <i class="icon-md" data-feather="refresh-cw" appFeatherIcon></i>
        </button>
      </div>
      
    </div>
  </div>
  <div class="chat-body" [perfectScrollbar] #content>
    <ul class="messages" #messages>
      <li *ngFor="let msg of chatList" class="message-item" [ngClass]="{'friend': msg.messageFrom == userToChatObj.userName, 'me': msg.messageFrom == userObj.userName }">
        <img *ngIf="msg.messageFrom == userToChatObj.userName" [src]="makeProfileUrl(userToChatObj.profileUrl)" class="img-xs rounded-circle" alt="avatar">
        <img *ngIf="userToChatObj.userName != userObj.userName && msg.messageFrom == userObj.userName" [src]="userObj.profileUrl" class="img-xs rounded-circle" alt="avatar">
        <div class="content">
          <div class="message">
            <div class="bubble">
              <p>{{ msg.content }}</p>
            </div>
            <span> {{ msg.createdAt | date: 'h:mm a' }}</span>
          </div>
        </div>
      </li>
      <!-- <li class="message-item me">
        <img [src]=userObj.profileUrl class="img-xs rounded-circle" alt="avatar">
        <div class="content">
          <div class="message">
            <div class="bubble">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing and typesetting
                industry.</p>
            </div>
          </div>
          <div class="message">
            <div class="bubble">
              <p>Lorem Ipsum.</p>
            </div>
            <span>8:13 PM</span>
          </div>
        </div>
      </li> -->




    </ul>
  </div>
</div>

<div class="chat-footer d-flex">
  <form class="search-form flex-grow mr-2">
    <div class="input-group">
      <input type="text" name="chatMessage" class="form-control rounded-pill" id="chatForm" placeholder="Type a message" [(ngModel)]="chatMessage">
    </div>
  </form>
  <div>
    <button type="button" class="btn btn-primary btn-icon rounded-circle" [disabled]="chatMessage.length == 0" (click)="sendMessage()">
      <i class="feather icon-send"></i>
    </button>
  </div>
</div>