<div *ngIf="userToChatLoadingFlag">
  
  <div class="chat-header border-bottom pb-2">
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <!-- <i (click)="backToChatList()" class="feather icon-corner-up-left icon-md mr-2 ml-n2 text-muted d-lg-none"></i> -->
        <figure class="mb-0 mr-2">
          <img [src]="makeProfileUrl(userToChatObj.profileUrl)" class="img-sm rounded-circle" alt="image">
          <div class="status online"></div>
          <div class="status online"></div>
        </figure>
        <div>
          <p>{{ userToChatObj.userName }} ( {{userToChatObj.firstName}} {{userToChatObj.lastName}} ) </p>
          <p class="text-muted tx-13">{{ userToChatObj.statusText }}</p>
        </div>
      </div>
      <div>
        <button class="btn" (click)="getDirectChatWithUser(this.userToChatObj.userName)">
          <i class="icon-md" data-feather="refresh-cw" appFeatherIcon></i>
        </button>
      </div>
      
    </div>
  </div>
  <div class="chat-body" [perfectScrollbar] #content>
    <ul class="messages" #messages>
      <li *ngFor="let msg of chatList" class="message-item" [ngClass]="{'friend': msg.messageFrom == userToChatObj.userName, 'me': msg.messageFrom == userObj.userName }">
        <img *ngIf="msg.messageFrom == userToChatObj.userName" [src]="makeProfileUrl(userToChatObj.profileUrl)" class="img-xs rounded-circle" alt="avatar">
        <img *ngIf="userToChatObj.userName != userObj.userName && msg.messageFrom == userObj.userName" [src]="userObj.profileUrl" class="img-xs rounded-circle" alt="avatar">
        <div class="content">
          <div class="message">

            <div class="bubble">

              <!-- reply indicator -->
              <div *ngIf="msg.replyTo && msg.replyTo.length != 0">

                <div *ngIf="msg.replyToType == 'image'">
                  <div class="d-flex justify-content-end">

                    <img class="" [src]="createImageLink(msg.replyTo)" height="70px"  alt="Reply to msg">
                  </div>
                </div>

                <div class="my-1">
                  <small *ngIf="msg.replyToType == 'text'" class="text-secondary bg-white">
                    {{ msg.replyTo }}
                  </small>
                </div>
              </div>

              <!-- actual message -->
              <div *ngIf="msg.type == 'image'">
                <img class="img-fluid" [src]="createImageLink(msg.content)" alt=" Msg">
              </div>

              <p *ngIf="msg.type == 'text'">{{ msg.content }}</p>
            </div>

            <span class="me-1"> {{ msg.createdAt | date: 'h:mm a' }} 
              <button class="btn btn-sm m-0 p-0" (click)="setReplyToMsg(msg)">
                <i class="icon-sm" data-feather="corner-down-left" appFeatherIcon></i>
              </button>
            </span>
          </div>
        </div>
      </li>
      <!-- <li class="message-item me">
        <img [src]=userObj.profileUrl class="img-xs rounded-circle" alt="avatar">
        <div class="content">
          <div class="message">
            <div class="bubble">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry printing and typesetting
                industry.</p>
            </div>
          </div>
          <div class="message">
            <div class="bubble">
              <p>Lorem Ipsum.</p>
            </div>
            <span>8:13 PM</span>
          </div>
        </div>
      </li> -->




    </ul>
  </div>
</div>
<p *ngIf="replyToMsgIndicator">
  <small class="text-secondary">
    <button class="btn btn-sm m-0 p-0" (click)="unsetReplyToMsg()">

      <i class="icon-sm" data-feather="x" appFeatherIcon></i> 
    </button>
    Replying to - 
    <span *ngIf="replyToMsgIndicator.type == 'text'">
      {{ replyToMsgIndicator.content}}  
    </span>
    <span *ngIf="replyToMsgIndicator.type == 'image'">
      <img class="my-1" [src]="createImageLink(replyToMsgIndicator.content)" height="50px"  alt="Reply to msg">
    </span>

  </small>
</p>
<div class="chat-footer d-flex">
  <button type="button" class="btn mx-1 btn-icon rounded-circle" (click)="image.click()">
    <i class="feather icon-image"></i>
  </button>
  <form class="search-form flex-grow mr-2">
    
    <div class="input-group">
      <input type="text" name="chatMessage" class="form-control rounded-pill" id="chatForm" placeholder="Type a message" [(ngModel)]="chatMessage">
    </div>
  </form>
  <div class="align-bottom">
    <button type="button" class="btn btn-primary btn-icon rounded-circle" [disabled]="chatMessage.length == 0" (click)="sendMessage()">
      <i class="feather icon-send"></i>
    </button>
  </div>
</div>


<input type="file" class="d-none" #image id="profileUploadInput" name="profile" accept="image/jpeg image/png" (change)="sendImage(image.files)" >
