<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-4 pr-md-0">
          <div class="auth-left-wrapper">

          </div>
        </div>
        <div class="col-md-8 pl-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <a routerLink="." class="noble-ui-logo d-block mb-2">Noble<span>UI</span></a>
            <h5 class="text-muted font-weight-normal mb-4">Create a free account.</h5>
            <form #formVar="ngForm">
              <div class="form-group">
                <label for="exampleInputFirstName">First Name</label>
                <input type="text" class="form-control" id="exampleInputFirstName" placeholder="First Name" name="firstNameInput"
                  #firstNameInput="ngModel" [(ngModel)]="regModel.firstName" pattern="^[A-Za-z]{1,}$">
                <span class="text-danger" *ngIf="!firstNameInput.value && firstNameInput.touched ">
                  *Required field
                </span>
                <span class="text-danger" *ngIf="firstNameInput.value  && firstNameInput.invalid && firstNameInput.touched ">
                  *Only alphabets are allowed
                </span>
              </div>
              <div class="form-group">
                <label for="exampleInputLastName">Last Name</label>
                <input type="text" class="form-control" id="exampleInputLastName" placeholder="Last Name" name="lastNameInput"
                  [(ngModel)]="regModel.lastName" #lastNameInput="ngModel" required pattern="^[a-zA-Z]{1,}$">
                  <span class="text-danger" *ngIf="!lastNameInput.value && lastNameInput.invalid && lastNameInput.touched ">*Required
                    field</span><span class="text-danger" *ngIf="lastNameInput.value && lastNameInput.invalid && lastNameInput.touched ">*Only alphabets are allowed</span>
              </div>
              <div class="form-group">
                <label for="exampleInputUsername1">Username</label>
                <input type="text" class="form-control" id="exampleInputUsername1" autocomplete="Username" name="userNameInput"
                  placeholder="Username" [(ngModel)]="regModel.userName" #userNameInput="ngModel"
                  (input)="onUserNameChanged($event)" required>
                <span class="text-danger" *ngIf="userNameInput.invalid && userNameInput.touched ">*Required field</span>
                <span class="text-danger" *ngIf="userNameInput.valid && userNameExists">*username already exists</span>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="emailInput"
                  [(ngModel)]="regModel.email" #emailInput="ngModel" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required>
                <span class="text-danger" *ngIf="emailInput.invalid && emailInput.touched ">*Enter valid email</span>
              </div>
              <div class="form-group">
                <label>Designation</label>
                <select class="form-control" [(ngModel)]="regModel.designationID" name="designationInput">
                  <option *ngFor="let designationModel of designations" value="{{designationModel.id}}">
                    {{ designationModel.designation }}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" autocomplete="current-password"
                  placeholder="Password" [(ngModel)]="regModel.password" #passwordInput="ngModel" name="passwordInput" required
                  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+])[A-Za-z\d!@#$%^&*()_+]{8,16}$">
                  <div *ngIf="passwordInput.invalid && passwordInput.touched" class="text-danger">
                    <span class="text-danger">*Password must satistfy following conditions</span>
                    <p>1. must have atleast one number</p>
                    <p>2. must have atleast one lower case character</p>
                    <p>3. must have atleast one upper case character</p>
                    <p>4. must have atleast one special charater</p>
                    <p>5. password length between 8 and 16</p>
                  </div>

              </div>
              <div class="mt-3">
                <button type="submit" class="btn btn-primary mr-2 mb-2 mb-md-0" [disabled]="formVar.invalid || userNameExists"
                  (click)="onRegister($event)">Sign up</button>
              </div>
              <a routerLink="/auth/login" class="d-block mt-3 text-muted">Already a user? Sign in</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
