<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-4 pr-md-0">
          <div class="auth-left-wrapper">

          </div>
        </div>
        <div class="col-md-8 pl-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <a routerLink="." class="noble-ui-logo d-block mb-2">Chat<span>App</span></a>
            <h5 class="text-muted font-weight-normal mb-4">Create a free account.</h5>
            <!-- For Task1: Add Validation -->
            <!-- Here We have Used Template Driven Form -->
            <!-- Add name to every Control Element -->
            <form #regForm="ngForm" (ngSubmit)="onRegister($event)">
              <div class="form-group">
                <label for="exampleInputFirstName">First Name</label>
                <input type="text" class="form-control" id="exampleInputFirstName" placeholder="First Name" [(ngModel)]="regModel.firstName" name="firstName" required >
              </div>
              <div class="form-group">
                <label for="exampleInputLastName">Last Name</label>
                <input type="text" class="form-control" id="exampleInputLastName" placeholder="Last Name" [(ngModel)]="regModel.lastName" name="lastName" required>
              </div>
              <div class="form-group">
                <label for="exampleInputUsername1">Username</label>
                <input type="text" class="form-control" id="exampleInputUsername1" autocomplete="Username" placeholder="Username" [(ngModel)]="regModel.userName" name="userName" required>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" [(ngModel)]="regModel.email" name="email" required email>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Select Your Role</label>
                <ng-select [items]="typeList"
                bindLabel="name"
                bindValue="id"
                [searchable]="false"
                name="type"
                [(ngModel)]="regModel.type">
                </ng-select>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" autocomplete="current-password" placeholder="Password" [(ngModel)]="regModel.password" name="password" required pattern="(?=^.{8,}$)((?=.*\d)(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" #pwd="ngModel">
                <span *ngIf="pwd.invalid && pwd.touched" class="error text-red text-muted">
                  *UpperCase, LowerCase, Number/SpecialChar and min 8 Chars
                </span>
              </div>
              <div class="mt-3">
                <button type="submit" class="btn btn-primary mr-2 mb-2 mb-md-0" [disabled]="disableRegButtton || regForm.invalid">Sign up</button>
              </div>
            </form>
              <a routerLink="/auth/login" class="d-block mt-3 text-muted">Already a user? Sign in</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>