<ng-template #basicModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Name Of The File : - {{file.name}}</h5>
    <button type="button" (click)="modal.close()" aria-label="Close">
      <i class="feather icon-x text-muted"></i>
    </button>
  </div>
  <div class="modal-body align-items-center">
    <img [src]="url" *ngIf="format==='image' && url" height="200"> <br/>
    <video [src]="url" *ngIf="format==='video' && url" height="200" controls></video> <br/>
    <audio [src]="url" *ngIf="format==='audio' && url" controls></audio> <br/>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close(); cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="modal.close(); send()">Send File</button>
  </div>
</ng-template>