
.margin-to-left-right{
  margin-left : 10vw;
  margin-right: 50vw;
  margin-bottom: 0.1vw;
}

.setColor{
 background-color: rgba(252, 83, 86, 0.2);
}

.onhoverr{
  cursor: pointer;
}

.replymsg{
  background-color: white;
  padding-left: 1vw;
  padding-right: 1vw;
  border-left: .2rem solid darkgreen;
}

.overflowrap{
  overflow-wrap: anywhere;
}

.align-rightt{
  text-align: right;
}

.text-clr{
  background-color: grey;
}

.emoji-mart {
  position: absolute;
  z-index: 1;
  left: 0px;
  bottom: 45px;
}

.mdi.active{
  color:#10B759 !important;
}

.mdi.red{
  color:red !important;
}

.mdi.yellow{
  color: rgb(255, 191, 0) !important;
}

.stat.mdi::before{
  position: absolute !important;
  bottom: -4px !important;
  right: -2px !important;
  background-color: white;
  border-radius: 90%;
}
