<!-- class="d-flex justify-content-between align-items-center flex-wrap grid-margin" -->
<div>
  <div>
    <h4 class="mb-3 mb-md-0" style="color:#727CF5">INSIGHTS</h4>
  </div>
  <div id="chart" *ngIf="chartOptions!=null">
    <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [stroke]="chartOptions.stroke"
    [tooltip]="chartOptions.tooltip"
    [dataLabels]="chartOptions.dataLabels"
    [legend]="chartOptions.legend"
    [markers]="chartOptions.markers"
    [grid]="chartOptions.grid"
    [yaxis]="chartOptions.yaxis"
    [title]="chartOptions.title"
  ></apx-chart>
  </div>
</div>
