<h4>Edit profile:</h4>

<div class="text-center" *ngIf="dataLoadingFlag">Loading...</div>

<div class="row mt-3" *ngIf="!dataLoadingFlag">

    <div class="col-md-6">
      
    
    <form [formGroup]="editForm">
    <div class="form-group">
      <label for="exampleInputUsername1">Username</label>
      <input type="text" class="form-control" id="exampleInputUsername1" [attr.disabled]="true" autocomplete="Username" placeholder="Username" formControlName="userName">
    </div>

    <div class="form-group">
      <label for="exampleInputFirstName">First Name</label>
      <input type="text" class="form-control" id="exampleInputFirstName" placeholder="First Name" formControlName="firstName">
      <div *ngIf="editForm.controls['firstName']?.touched">
        <small *ngIf="editForm.controls['firstName'].errors?.required" class="text-danger">This is required</small>
        <small *ngIf="editForm.controls['firstName'].errors?.minlength" class="text-danger">First name should be at least 2 characters</small>
        <small *ngIf="editForm.controls['firstName'].errors?.maxlength" class="text-danger">First name cannot have more then 30 characters</small>
      </div>
    </div>

    <div class="form-group">
      <label for="exampleInputLastName">Last Name</label>
      <input type="text" class="form-control" id="exampleInputLastName" placeholder="Last Name" formControlName="lastName">
      <div *ngIf="editForm.controls['lastName']?.touched">
        <small *ngIf="editForm.controls['lastName'].errors?.required" class="text-danger">This is required</small>
        <small *ngIf="editForm.controls['lastName'].errors?.minlength" class="text-danger">First name should be at least 2 characters</small>
        <small *ngIf="editForm.controls['lastName'].errors?.maxlength" class="text-danger">First name cannot have more then 30 characters</small>
      </div>
    </div>

    

    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" formControlName="email">
      <div *ngIf="editForm.controls['email']?.touched">
        <small *ngIf="editForm.controls['email'].errors?.required" class="text-danger">This is required</small>
        <small *ngIf="editForm.controls['email'].errors?.email" class="text-danger">Email don't seems to be correct.</small>
      </div>
    </div>
    
    
    
    <div class="mt-3">
      <button type="submit" class="btn btn-primary mr-2 mb-2 mb-md-0" [disabled]="!editForm.valid" (click)="onUpdate()">Update Profile</button>
    </div>
  </form>
</div>
</div>