

<div class="container">
  <h1>Welcome to our  Argus Chat App</h1>
  <!-- <div id="video-container">
    <video controls loop>
      <source src="../../assets/images/HomeVideo.mp4" type="video/mp4"  >
      Your browser does not support the video tag.
    </video>
  </div> -->
  <p > Argusoft's Chat web application demo project is a seamless blend of professionalism and personal connection. With a sleek interface, it effortlessly navigates between formal discussions and informal banter.
    The platform allows users to create both individual and group chats, ensuring effective communication in various settings. Whether you're coordinating with colleagues on a project or catching up with friends, Argusoft's Chat has got you covered.
    Expressiveness is at the core of this application, as users can send not only text messages but also images, audio clips, videos, and a vibrant array of emoticons. This dynamic range of features caters to the diverse needs of users, making every conversation engaging and interactive.
    In a nutshell, Argusoft's Chat web application demo is a showcase of versatility, fostering both professional collaboration and personal connections with style.</p>

  <p>Choose an option below:</p>
  <nav>
    <div class="button-container">
    <a href="" routerLink="/home">Home</a> |
    <a href="" routerLink="/login">Login</a> |
    <a href="" routerLink="/signup">Signup</a>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
