

<div class="container">
  <h1>Welcome to our  Argus Chat App</h1>
  <div id="video-container">
    <video controls loop>
      <source src="../../assets/images/HomeVideo.mp4" type="video/mp4"  >
      Your browser does not support the video tag.
    </video>
  </div>

  <p>Choose an option below:</p>
  <nav>
    <div class="button-container">
    <a href="" routerLink="/home">Home</a> |
    <a href="" routerLink="/login">Login</a> |
    <a href="" routerLink="/signup">Signup</a>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
