<div *ngIf="groupDetail != null">
<div class="chat-header border-bottom pb-2">
  <div class="d-flex justify-content-between">
    <div class="d-flex align-items-center">
      <i (click)="false" class="feather icon-corner-up-left icon-md mr-2 ml-n2 text-muted d-lg-none"></i>
      <figure class="mb-0 mr-2">
        <img *ngIf="groupDetail.imagePath==null" src="https://via.placeholder.com/43x43" class="img-sm rounded-circle" alt="image">
        <img *ngIf="groupDetail.imagePath!=null" [src]="environment + groupDetail.imagePath" class="img-sm rounded-circle" alt="image">
      </figure>
      <div>
        <p>{{groupDetail.groupName}}</p>
        <!-- <p class="text-muted tx-13"></p> -->
      </div>
    </div>
    <div class="d-flex align-items-center mr-n1">
      <!-- <a href="" (click)="false">
        <i class="feather icon-video icon-md text-muted mr-3" ngbTooltip="Start video call"></i>
      </a>
      <a href="" (click)="false">
        <i class="feather icon-phone-call icon-md text-muted mr-0 mr-sm-3" ngbTooltip="Start voice call"></i>
      </a> -->
      <!-- DROPDOWN -->
    <div class="dropdown" ngbDropdown>
      <button class="btn p-0 no-dropdown-toggle-icon" type="button" id="dropdownMenuButton" ngbDropdownToggle>
        <i class="feather icon-settings icon-md text-muted pb-3px" ngbTooltip="Settings"></i>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
        <a *ngIf="isAdmin==1" class="dropdown-item d-flex align-items-center" (click)="openVerticalCenteredModal(verticalCenteredModal)"><i class="feather icon-user-plus icon-xs mr-2"></i> <span class="">Add Member</span></a>
        <a class="dropdown-item d-flex align-items-center" (click)="openScrollableModal(scrollableModal)"><i class="feather icon-eye icon-xs mr-2"></i> <span class="">View Group</span></a>
        <a *ngIf="isAdmin==1" class="dropdown-item d-flex align-items-center" (click)="openEditGroupModal(editGroupModal)"><i class="feather mdi mdi-border-color icon-xs mr-2"></i> <span class="">Edit Group</span></a>
        <a class="dropdown-item d-flex align-items-center" (click)="onExit()"><i class="feather mdi mdi-exit-to-app icon-xs mr-2"></i> <span class="">Exit Group</span></a>
      </div>
    </div>
    <!-- End DropDown-->
    </div>
  </div>
</div>
 <!-- Modal for Add User -->
 <ng-template #verticalCenteredModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Add Members</h5>
    <button type="button" class="close" (click)="modal.close()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ng-select [multiple]="true" [(ngModel)]="selectedUsers">
      <ng-option *ngFor="let user of allUsers" [value]="user.userName" ><div>

        <p><img width="20px" height="20px" [src]="environment + user.imagePath">  {{user.firstName}}  {{user.lastName}}</p>
      </div></ng-option>
      <!-- <ng-option [value]="'custom'">Custom</ng-option> -->
    </ng-select>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
    <button type="button" class="btn btn-primary" (click)="onSubmit();modal.close()">Add To Group</button>
  </div>
</ng-template>
<!-- END MODAL -->
<div style="min-height:60vh; display:flex; flex-direction:column;
            justify-content:space-between;">
<div class="chat-body" [perfectScrollbar] #scrollMe>
  <ul class="messages" *ngFor="let msg of displayMsgList , let i = index">
    <li *ngIf="i===0||((displayMsgList[i].createdAt | date:'shortDate') !==(displayMsgList[i-1].createdAt| date:'shortDate'))">
      <div class="text-center">
        {{msg.createdAt| date:'mediumDate'}}
      </div>
    </li>
    <li *ngIf="msg.type=='heading'">
      <div class="text-center">
        {{msg.content}}
      </div>
    </li>
    <li *ngIf="msg.messageFrom != this.loggedInUser.userName && msg.type!='heading'" class="message-item friend">
      <img [src]="environment + msg.messageFromImage" class="img-xs rounded-circle" alt="avatar">
      <div class="content"(dblclick)="toggleReplyMsg(msg)">
        <img *ngIf="msg.type == 'image'" [src]="environment + msg.content" alt="Image" width="350px" height="200px">
        <video controls *ngIf="msg.type === 'video'">
          <source [src]="environment + msg.content" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <audio controls *ngIf="msg.type === 'audio'">
          <source [src]="environment + msg.content" type="audio/mp3">
          Your browser does not support the html audio tag.
        </audio>
        <div class="message" >
          <div class="bubble" *ngIf="msg.type === null">
            <div class="overflowrap">{{msg.messageFrom}}</div>
            <div class="replymsg overflowrap" *ngIf="msg.repliedTo != null">{{msg.repliedTo}}</div>
            <div class="overflowrap">{{msg.content}}</div>
          </div>
            <span>{{msg.createdAt | date:'shortTime'}}</span>
        </div>
      </div>
    </li>
    <li *ngIf="msg.messageFrom == this.loggedInUser.userName && msg.type!='heading'" class="message-item me">
      <img [src]="environment + msg.messageFromImage" class="img-xs rounded-circle" alt="avatar">
      <div class="content" (dblclick)="toggleReplyMsg(msg)">
        <img *ngIf="msg.type == 'image'" [src]="environment + msg.content" alt="Image" width="350px" height="200px">
        <video controls *ngIf="msg.type === 'video'" width="350px" height="200px">
          <source [src]="environment + msg.content" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <audio controls *ngIf="msg.type === 'audio'">
          <source [src]="environment + msg.content" type="audio/mp3">
          Your browser does not support the html audio tag.
        </audio>
        <div class="message ">
          <div class="bubble" *ngIf="msg.type==null">
            <div class="overflowrap msgFrom">{{msg.messageFrom}}</div>
            <div class="replymsg overflowrap" *ngIf="msg.repliedTo != null">{{msg.repliedTo}}</div>
            <div class="overflowrap">{{msg.content}}</div>
          </div>
        </div>
          <div style="float:right;">
            <span>{{msg.createdAt | date:'shortTime'}}</span>
          </div>
      </div>
    </li>
  </ul>
</div>
<emoji-mart class="emoji-mart" set="apple" *ngIf="showEmoji" (emojiClick)="Emoji($event, message)" [showPreview]="false">
</emoji-mart>
 <!-- REPLY TO SPECIFIC MESSAGE -->
 <div>
 <div style="margin-top: auto;" class="search-form flex-grow mr-2 margin-to-left-right" [hidden]="!isReplying">
  <div class="input-group">
    <p type="text" class="form-control rounded-pill setColor" id="chatForm" readonly><span class="mdi mdi-reply"></span>{{rplyMsg | slice:0:60}}{{rplyMsgLen<60?'':'...'}}</p>
    <span class="close-button onhoverr" aria-label="Close alert" data-close (click)="closeRplyMsg()" >
      <span aria-hidden="true">&times;</span>
    </span>
  </div>
</div>
<!-- END REPLY MESSAGE -->
<div class="chat-footer d-flex">
  <div>
    <button type="button" class="btn border btn-icon rounded-circle mr-2" ngbTooltip="Emoji" (click)="toggleEmoji(message)">
      <i class="feather icon-sun text-muted"></i>
    </button>
  </div>
  <div class="d-none d-md-block">
    <button type="button" class="btn border btn-icon rounded-circle mr-2" ngbTooltip="Attatch files" (click)="openBasicModal(basicModal)">
      <i class="feather icon-paperclip text-muted"></i>
    </button>
    <!-- MODAL To SEND FILE -->
    <ng-template #basicModal let-modal>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select File To Send</h5>
        <button type="button" class="close" (click)="modal.close()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="file" class="file-upload" (change)="onFileSelected($event)" #File accept="audio/*,video/*,image/*">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
        <button type="button" class="btn btn-primary" (click)="uploadFile();modal.close()">Send</button>
      </div>
    </ng-template>
    <!-- CLOSE FILE SEND MODAL -->
  </div>
  <div class="d-none d-md-block">
    <button type="button" class="btn border btn-icon rounded-circle mr-2" ngbTooltip="Record you voice">
      <i class="feather icon-mic text-muted"></i>
    </button>
  </div>
  <form class="search-form flex-grow mr-2">
    <div class="input-group">
      <input type="text" class="form-control rounded-pill" id="chatForm" placeholder="Type a message" (keydown.enter)="onMessage(message)" #message>
    </div>
  </form>
  <div>
    <button type="button" class="btn btn-primary btn-icon rounded-circle">
      <i class="feather icon-send" (click)="onMessage(message)"></i>
    </button>
  </div>
</div>
</div>
</div>
</div>
<!-- Update Group Modal -->
<ng-template #editGroupModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Update Group</h5>
    <button type="button" class="close" (click)="onCloseEdit();modal.close()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container bootstrap snippets bootdey">
    <div class="row">
        <!-- left column -->
        <div class="col-md-5">
          <div class="text-center">
            <img *ngIf="url=='' && groupDetail.imagePath==null" src="assets/images/placeholder.jpg" class="avatar img-circle img-thumbnail" alt="avatar">
            <img *ngIf="url!=''" [src]="url" class="avatar img-circle img-thumbnail" alt="avatar">
            <img *ngIf="url=='' && groupDetail.imagePath!=null" [src]="environment + groupDetail.imagePath" class="avatar img-circle img-thumbnail" alt="avatar">
            <h6>Upload a different photo...</h6>
            <div class="image-upload">
              <label class="mdi mdi-upload bigg" for="file-input"></label>
              <input id="file-input" type="file" (change)="onSelectFile($event)" />
            </div>
          </div>
        </div>
        <!-- edit form column -->
        <div class="col-md-7 personal-info">
          <form class="form-horizontal" role="form" #f="ngForm">
            <div class="form-group">
              <label class="col-lg-12 control-label">Group name:</label>
              <div class="col-lg-12">
                <input class="form-control" type="text" value="{{groupDetail.groupName}}" name="GroupName" [(ngModel)]="groupDetail.groupName" #GroupName="ngModel" maxlength="50" required>
              </div>
              <span *ngIf="GroupName.invalid && GroupName.touched" class="text-danger"><p>This is a Required Field</p></span>
            </div>
            <div class="form-group">
              <label class="col-lg-12 control-label">Description:</label>
              <div class="col-lg-12">
                <textarea rows="5" class="form-control" type="text" value="{{groupDetail.description}}" name="grpDesc" [(ngModel)]="groupDetail.description" #grpDesc="ngModel" maxlength="200"></textarea>
              </div>
            </div>
          </form>
        </div>
    </div>
  </div>
  <hr>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="onCloseEdit();modal.close()">Close</button>
    <button type="button" class="btn btn-primary" [disabled]="!f.valid" (click)="onEdit();modal.close()">Create Group</button>
  </div>
</ng-template>
<!-- End Modal-->

<!-- Modal for View Group -->
<ng-template #scrollableModal let-modal>
  <div class="modal-header" style="background-color: rgb(236, 229, 221);">
    <h5 class="modal-title" id="exampleModalLabel">View Group</h5>
    <button type="button" class="close" (click)="modal.close()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img *ngIf="groupDetail.imagePath==null" src="assets/images/placeholder.jpg" class="img-responsive center-block d-block mx-auto" style="width:15rem; height: 12rem;" alt="Group Image">
    <img *ngIf="groupDetail.imagePath!=null" [src]="environment + groupDetail.imagePath" style="width:15rem; height: 12rem;" class="img-responsive center-block d-block mx-auto" alt="Group Image">
    <p style="margin-top: 1rem; font-size: large;" class="text-center"><b>{{groupDetail.groupName}}</b></p>
    <div style="background-color: rgb(236, 229, 221); min-height: 10px; margin-top: .1rem; margin-bottom: 0.1rem;"></div>
    <p *ngIf="groupDetail.description==null" style="color: #031A61;"><span (click)="openEditGroupModal(editGroupModal)" style="cursor: pointer;">Add Group Description</span></p>
    <p class="wordbreak" *ngIf="groupDetail.description!=null">{{groupDetail.description}}</p>
    <p>Created by {{groupDetail.createdBy}} , {{groupDetail.createdAt | date:'medium'}}</p>
    <div style="background-color: rgb(236, 229, 221); min-height: 10px; margin-top: 0.1rem; margin-bottom: 1rem;"></div>
    <!-- LIST OF GROUP MEMBERS -->
    <ul class="list-unstyled chat-list px-1" *ngFor="let item of members, let i = index">
      <li class="chat-item pr-1">
        <a class="d-flex align-items-center">
          <figure class="mb-0 mr-2">
            <img *ngIf="item.imagePath!=null" [src]="environment + item.imagePath" class="img-xs rounded-circle" alt="user">
          </figure>
          <div class="d-flex justify-content-between flex-grow border-bottom">
            <div>
              <p class="text-body font-weight-bold">{{item.firstName}} {{item.lastName}}</p>
              <p (click)="NavigateToChat(item.userName);modal.close();">@{{item.userName}}</p>
              <!-- <p *ngIf="item.lastMsg!=null && item.type==null" class="text-muted tx-13">{{item.lastMsg}}</p>
              <p *ngIf="item.lastMsg!=null && item.type==null" class="text-muted tx-13">{{item.lastMsg}}</p>
              <p *ngIf="item.lastMsg!=null && item.type==null" class="text-muted tx-13">{{item.lastMsg}}</p> -->
            </div>
             <div class="d-flex flex-column align-items-end">
              <div style="display:flex;">
                <p *ngIf="isAdmin==1 && item.admin!=1" style="margin-right: .8rem;" class="text-muted tx-13 mb-1 mdi mdi-account-remove" (click)="removeUser(item.userName)" title="Remove Account"></p>
                <p *ngIf="item.admin==1" class="text-muted tx-13 mb-1 mdi mdi-account-star colorAdmin" title="Admin"></p>
                <p *ngIf="item.admin==0 && isAdmin==1" class="text-muted tx-13 mb-1 mdi mdi-account-star" title="Make User Admin" (click)="makeAdmin(item.userName)"></p>
              </div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
  </div>
</ng-template>
