<h4>User profile:</h4>

<div class="text-center" *ngIf="dataLoadingFlag">Loading...</div>

<div class="row mt-3" *ngIf="!dataLoadingFlag">

    <div class="col-md-6">
        <div class="card">
            <table class="table">
                <tr>
                    <td>First name:</td>
                    <td>{{ user.firstName }}</td>
                </tr>
                <tr>
                    <td>Last name:</td>
                    <td>{{ user.lastName }}</td>
                </tr>
                <tr>
                    <td>Username:</td>
                    <td>{{ user.userName }}</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <td>Created By:</td>
                    <td>{{ user.createdBy ? (user.createdAt|date:'medium') : "-"}} </td>
                </tr>
                <tr>
                    <td>Created At:</td>
                    <td>{{ user.createdAt | date:'medium' }} </td>
                </tr>
                <tr>
                    <td>Last Updated At:</td>
                    <td>{{ user.lastUpdatedAt ? (user.lastUpdatedAt|date:'medium') : "-" }} </td>
                </tr>
                <tr>
                    <td>Last Updated By:</td>
                    <td>{{ user.lastUpdatedBy ? user.lastUpdatedBy : "-" }} </td>
                </tr>
                
            </table>
        </div>
    </div>

    <div class="col-md-6 ">


        <div class="text-center">
            <img [src]="getLinkPicture()" class="rounded-circle mb-3" height="200px" width="200px" alt="User Profile">
            <h4 class="mb-3"> {{ user.userName }} 
              
            </h4>
    
            
        </div>
    </div>
</div>