<h4>User profile:</h4>

<div class="row">

    <div class="col-md-6">
        <div class="card">
            <table class="table">
                <tr>
                    <td>First name:</td>
                    <td>Sachin</td>
                </tr>
                <tr>
                    <td>Last name:</td>
                    <td>Sachin</td>
                </tr>
                <tr>
                    <td>Username:</td>
                    <td>Sachin</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>Sachin</td>
                </tr>
                <tr>
                    <td>Created At:</td>
                    <td>some data here</td>
                </tr>
            </table>
        </div>
    </div>
</div>