<h4>User profile</h4>

<div class="text-center" *ngIf="dataLoadingFlag">Loading...</div>

<div class="row mt-3" *ngIf="!dataLoadingFlag">

    <div class="col-md-6">
        <div class="card">
            <table class="table">
                <tr>
                    <td>First name</td>
                    <td>{{ userObj.firstName }}</td>
                </tr>
                <tr>
                    <td>Last name</td>
                    <td>{{ userObj.lastName }}</td>
                </tr>
                <tr>
                    <td>Username</td>
                    <td>{{ userObj.userName }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ userObj.email }}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>{{ userObj.statusText }}</td>
                </tr>
                <tr>
                    <td>Created At</td>
                    <td>{{ userObj.createdAt | date:'medium' }} </td>
                </tr>
                <tr>
                    <td>Last Edited At</td>
                    <td>{{ userObj.lastUpdatedAt ? (userObj.lastUpdatedAt|date:'medium') : "-" }} </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="col-md-6 ">


        <div class="text-center">
            <img [src]="getImageLink()" class="rounded-circle mb-3" height="200px" width="200px" alt="User Profile">
            <h4 class="mb-1"> {{ userObj.userName }} </h4>
            <p class="text-secondary m-0">{{ userObj.statusText }}</p>
            
        </div>
    </div>
</div>