.date-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
    width: 100%;
}
.date{
    text-align: center;
    margin: 0 auto; 
    background-color:darkgray;
    border-radius: 15%;
    margin: 1rem;
    padding: 0.5rem;
}
.replying{
    background: #f1f2fe;
    margin: 0 auto;
    padding: 5px;
    border: 2px solid ;
    width: 90%;
    position: absolute;
    bottom: 3rem;
    left: 0;
    right: 0;
}
.center{
    margin: auto;
}
.bubble{
    overflow-wrap: anywhere; 
}
.modal-content {
    position: relative;
    margin: auto;
    padding: 20px;
    width: 75%;
}
figure {
    position: relative;
    .status {
      width: 11px;
      height: 11px;
      background: theme-color(secondary);
      position: absolute;
      bottom: 0;
      right: -2px;
      border-radius: 50%;
      border: 2px solid #f5f5f5;
      &.online {
        background: #008000;
      }
      &.offline {
        background: #93979c;
      }
      &.pause{
        background: #ffb51a;
      }
      &.away{
        background: #ff0000;
      }
    }
}  