
emoji-mart{
  position: absolute;
  left:0px;
  bottom: 45px;
}

.reply-message-box{
  background-color: rgba(255, 0, 0, 0.192);
  position: absolute;
  left:0px;
  bottom: 45px;
  width: 92%;
  z-index: 50;
}
